{{> head }}


{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>
            Beatles
        </h1>
        <p>
            Grupo musical
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/beatles_9.jpg"  class="img-thumbnail">
    </div>


</div>

{{> footer }}